.f-wrapper {
    background-color: rgba(236, 233, 233, 0.815); /* Sets the background color to gray */
    color: white; /* Adjust text color for better contrast */
    padding: 20px 0; /* Adds vertical padding */
}

.f-container {
    justify-content: space-between;
}

.f-right .social-icons {
    gap: 1rem;
    margin-top: 1rem;
}

.social-icons img {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.f-menu {
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .f-container {
        justify-content: center;
    }

    .f-container > div {
        align-items: center !important;
        text-align: center;
    }

    .f-right {
        justify-content: center;
    }

    .social-icons {
        justify-content: center;
    }
}
